<ion-content>
  <ion-grid justify-content-center padding-vertical class="ion-page">
    <ion-row justify-content-center>
      <ion-col text-center>
        <h1 class="title">REGISTRO</h1>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <ion-button expand="block" size="large" (click)="registrar()">
          CONTINUAR
        </ion-button>  
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="11" size-sm="9" size-md="6">
        <p text-center class="text-teal font-600 font1">Ingresar con mi cuenta</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>