ion-content{
  --ion-background-color: #fafaff;
}

ion-list-header {
  color: var(--ion-color-medium);
}

ion-img {
  height: 100%;
  object-fit: cover;
}

.producto-precio {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 20px;
  background: var(--ion-color-tertiary);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: 600;
}

.modal-producto-title {
  color: var(--ion-color-dark-tint);
  letter-spacing: 4px;
  font-family: 'Love Monster', sans-serif;
  font-size: 2rem;
}

.max-height-250 {
  max-height: 250px;
  overflow: hidden;
}