<ion-header translucent>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>

    <ion-title>
      -Vendedor-
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Categorías</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/icons/dish.png" alt="">
      </ion-avatar>
      <ion-label>{{'Comida' | uppercase}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
