// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FFC100;
  --ion-color-primary-rgb: 255,193,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0aa00;
  --ion-color-primary-tint: #ffc71a;

  /** secondary **/
  --ion-color-secondary: #E2A803;
  --ion-color-secondary-rgb: 226,168,3;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c79403;
  --ion-color-secondary-tint: #e5b11c;

  /** tertiary **/
  --ion-color-tertiary: #FFD966;
  --ion-color-tertiary-rgb: 255,217,102;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0bf5a;
  --ion-color-tertiary-tint: #ffdd75;

  /** purple **/
  --ion-color-purple: #bb14cc;
  --ion-color-purple-rgb: 187,20,204;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255,255,255;
  --ion-color-purple-shade: #a512b4;
  --ion-color-purple-tint: #c22cd1;


  /** success **/
  --ion-color-success: #007714;
  --ion-color-success-rgb: 0,119,20;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #006912;
  --ion-color-success-tint: #1a852c;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #D6510D;
  --ion-color-danger-rgb: 214,81,13;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bc470b;
  --ion-color-danger-tint: #da6225;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** custom **/
  --white: #FFF;
  --teal: #007c89;
  --purple: #bb14cc;
  --light-blue: #1496cc;
  --font-primary: 'Love Monster';
  --ion-font-family: 'Nunito';
  --background-image: url('../assets/background.png');
}

@font-face {
    font-family: 'Love Monster';
    src: url('../assets/fonts/LoveMonster.eot');
    src: url('../assets/fonts/LoveMonster.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/LoveMonster.woff2') format('woff2'),
        url('../assets/fonts/LoveMonster.woff') format('woff'),
        url('../assets/fonts/LoveMonster.ttf') format('truetype'),
        url('../assets/fonts/LoveMonster.svg#Love*Monster') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-Regular.eot');
    src: url('../assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Nunito-Regular.woff2') format('woff2'),
        url('../assets/fonts/Nunito-Regular.woff') format('woff'),
        url('../assets/fonts/Nunito-Regular.ttf') format('truetype'),
        url('../assets/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.eot');
    src: url('../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
