/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button {
  font-weight: 600;
  height: 40px;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.button-round {
  --border-radius: 15px;
}

.title {
  font-family: var(--font-primary), sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.font-primary {
  font-family: var(--font-primary), sans-serif;
  font-size: 1.8rem;
  letter-spacing: 4px;
}

.font1 {
  font-size: 1.1rem;
}

.font-600 {
  font-weight: 600;
}

.action-sheet-group {
  background: var(--ion-color-tertiary) !important;
}

.action-sheet-group-cancel {
  background: var(--ion-color-dark) !important;

  button { 
    color: var(--white) !important;
  }
}

.action-sheet-selected {
  color: var(--light-blue) !important;
}

.text-teal {
  color: var(--teal);
}

.border-radius-15 {
  border-radius: 15px;
}