/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Sass Variables */
$colors : 'teal', 'purple';
$h-card-content: 50px;

ion-button {
  font-weight: 600;
  height: 40px;
}

ion-card {
  $border-radius: 15px;
  box-shadow: none !important;

  .card-image-container{
    border-radius: $border-radius;
    max-height: 200px;
    overflow: hidden;
  }
  
  ion-card-content {
    margin-top: -$h-card-content;
    background: var(--white);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--ion-color-light-shade);
    border-radius: $border-radius;
  }

  ion-card-subtitle {
    margin-top: 5px;
  }

  &.card-no-image {
    padding-top: $h-card-content;
  }

}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.button-round {
  --border-radius: 15px;
}

.title,
.font-primary,
.lovemosnter {
  letter-spacing: 4px;
}

.title {
  font-family: var(--font-primary), sans-serif;
  font-size: 3rem;
  font-weight: 700;  
}

.font-primary {
  font-family: var(--font-primary), sans-serif;
  font-size: 1.8rem;  
}

.lovemonster {
  font-family: 'Love Monster', sans-serif;
}

.font1 {
  font-size: 1.1rem;
}

.font-600 {
  font-weight: 600;
}

/** Text Colors **/
@each $color in $colors {
  .text-#{$color} {
    color: var(--#{$color});
  }
}

/** Custom Action Sheet **/
.action-sheet-group {
  font-family: var(--ion-font-family), sans-serif;
  button {
    font-weight: 700 !important;
    // font-size: 1.5rem !important;
    letter-spacing: 2px !important;
    color: lighten(black, 40%);
  }
}

.action-sheet-group-cancel {
  background: var(--ion-color-tertiary) !important;
  button {
    color: var(--ion-color-danger) !important;
  }
}

.action-sheet-selected {
  color: var(--purple) !important;
}

.border-radius-15 {
  border-radius: 15px;
}

ion-list.white-opacity {
  background: rgba(255,255,255,0.7);
  ion-item {
      --ion-item-background: transparent;
  }
}

.no-margin-lr {
  margin-left: 0;
  margin-right: 0;
}